$secondary: #f1f2f7;
$hover-background-color: #263e581a;
$primary: #263e58;
$primary-tilt: #263e58cc;
$secondary: #f1f2f7;
$secondary-tilt: #263e5869;

@mixin smallBox($background-color) {
  height: 0.9rem;
  width: 0.9rem;
  background-color: $background-color;
  border-radius: 4px;
}

.popup {
  width: 350px;
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
    0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  background-color: #fff;
  z-index: 5;
  border-radius: 12px;
  position: absolute;
  padding: 1rem;
  .close {
    position: absolute;
    cursor: pointer;
    right: 0;
    padding: 0.4rem;
    border-radius: 50%;
    display: flex;
    top: 10px;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: $hover-background-color;
    }
  }
  .card-body {
    padding: 1rem;
    height: 150px;
    overflow-y: auto;
    .my-grid {
      display: grid;
      width: 100%;
      grid-template-columns: auto 1fr;
      align-items: center;
      gap: 10px;
      color: $primary-tilt;
    }
    .no-event {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $secondary-tilt;
    }
  }
  .event-title {
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    width: 100%;
  }
  .name, .tags,
  .type {
    font-size: 0.8rem;
  }
  .tags {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    flex-wrap: wrap;
    div {
      background-color: $secondary;
      border-radius: 4px;
      padding: 0.1rem 0.4rem;
    }
  }
  .box {
    @include smallBox(#717ff7);
  }
}
