html {
  height: 100dvh;
  width: 100dvw;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#root {
  height: 100%;
  width: 100%;
}

* {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.mcalendar-container {
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  min-width: 100%;
  max-width: 80dvw;
  height: 700px;
  gap: 2rem;
  overflow: hidden auto;
  scroll-behavior: smooth;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    margin-bottom: 0;
  }
}